.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
layout/layout.json
events/internal.json
layout/layout.json
automations/automations.json
__pycache__/app.cpython-313.pyc
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/copilotDiffState.xml
