{% include 'header.html' with context %}

<div class="container">
    {% include 'sidebar.html' with context %}

    <main class="content">
        <!-- Panel górny -->
        <div id="toolbar">
            <div class="widget-item" draggable="true" data-type="events">Lista Eventów</div>
            <div class="widget-item" draggable="true" data-type="digitalClock">Zegar Cyfrowy</div>
            <div class="widget-item" draggable="true" data-type="analogClock">Zegar Analogowy</div>
            <div class="widget-item" draggable="true" data-type="text">Tekst</div>
            <div class="widget-item" draggable="true" data-type="calendar">Kalendarz</div>
        </div>

        <!-- Workspace / dummy screen -->
        <div id="workspace"></div>
    </main>
</div>

{% include 'footer.html' %}
